Lambda function in pyhton are anonymous function that are not have any name.

In [1]:
add=lambda x,y:x+y
result=add(3,5)
print(result)

8

In [2]:
# Uppercase Conversion
str1='Whatever'
upper=lambda string: string.upper()
print(upper(str1))

WHATEVER

In [3]:
def cube(y):
    return y*y*y
lambda_cubes=lambda y:y*y*y
print("using 'def' keyword, cube:",cube(5))
print("using lambda function",lambda_cubes(6))

using 'def' keyword, cube: 125
using lambda function 216

In [6]:
# sorting a list of tuples by second element
data=[(3,10),(1,5),(2,80)]
sorted_data=sorted(data,key=lambda x: x[1])
print(sorted_data)

[(1, 5), (3, 10), (2, 80)]

In [7]:
# calculating factorials using Recursion
factorial=lambda n:1 if n==0 else n*factorial(n-1)
print("factorial of 5: ",factorial(5))

factorial of 5:  120

The map() function executes a specified function for each item in an iterable. The item is send one by ine as argument to the function.

In [9]:
def myfunc(n):
    return len(n)
x=list(myfunc,("Rashtriya","Raksha","University"))
print(x)

TypeError: list expected at most 1 argument, got 2

In [10]:
def myfunc(n):
    return len(n)
x=list(map(myfunc,("Rashtriya","Raksha","University")))
print(x)

[9, 6, 10]

In [12]:
#list of numbers
numbers=[1,2,3,4,5]
# use map() with lambda to square each number
squared_numbers=list(map(lambda numbers,x:x**2))
print(squared_numbers)

TypeError: map() must have at least two arguments.

In [13]:
#list of numbers
numbers=[1,2,3,4,5]
# use map() with lambda to square each number
squared_numbers=list(map(lambda x:x**2,numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

to find even numbers from given list using map and lambda function

In [18]:
l=[34,5,7,8,3,22,0,1]
even_re=list(map(lambda x:x if x%2==0 else 'odd',l))
print(even_re)

[34, 'odd', 'odd', 8, 'odd', 22, 0, 'odd']

filter(function,iterable) 
The filter() function return an iterable where the items are filtered through a function to test if the item is accepted or not

In [21]:
ages=[5,12,17,18,24,32]
def myFunc(x):
    if x<18:
        return False
    else:
        return True
adults=filter(myFunc,ages)
print(type(adults))
for x in adults:
    print(x)

<class 'filter'>
18
24
32

In [23]:
# list of even number
numbers=[1,2,3,4,5,6,7,8,9,10]
# use filter() with lambda to filter even nymbers
even_rel=list(filter(lambda x:x%2==0,numbers))
print(even_rel)

[2, 4, 6, 8, 10]

Reduce(): 
the reduce function in python is a part 

lambda x,y:x+y is function passed to reduce(), which adds to numbers.
reduce() applies this function to the elements of the list, cumulatively adding them.

In [2]:
from functools import reduce
number=[1,2,3,4,5]
# using the reduce to find the sum
sum_result=reduce(lambda x,y:x+y,number)
print(sum_result)

15

In [4]:
# using the reduce() with an initializer
sum_result=reduce(lambda x,y:x+y,number,10)
print(sum_result)

25

In this case 10 is provided as the initial value, so the addition starts from 10

In [5]:
# find the maximum element in a list
l=[]
while True:
    p=input()
    if p.lower()=='q':
        break
    else:
        l.append(p)

max= reduce(lambda x,y:x if x>y else y,l)
print(max)

9

In [7]:
# concatenate strings in a list
l=[]
while True:
    p=input()
    if p.lower()=='q':
        break
    else:
        l.append(p)

strin=reduce(lambda x,y:x+y,l)
print(strin)

hello world !

In [10]:
# calculating the factorial of the given number
t=int(input())
def fecto(n):
    return reduce(lambda x,y:x*y,range(1,n+1))

f=fecto(t)
print(f)

120

In [12]:
# removing duplicates from a list while preserving the order
dup=[1,4,4,4,5,6,8,7,7,7,7,3,3,1]
unique_list=list(set(dup))
unique_list.sort(key=lambda x:dup.index(x))
print(unique_list)

[1, 4, 5, 6, 8, 7, 3]

In [15]:
# finding the intersection of two list
l1=[23,34,45,56,67,78,89,10]
l2=[55,34,66,78,89,11,23,12]
intersection_list=list(filter(lambda x:x in l1,l2))
print(intersection_list)

[34, 78, 89, 23]